:root {
    --orange-color: #DA722C;
    --dark-blue-blue: #023047;
    --dark-color: #070917;
    --light-color: #E8F7FB;
    --light-blue-color: #6F7DFB;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    max-width: 1134px;
    margin: 0 auto;
}

.btn {
    padding: 16px 32px;
    border-radius: 24px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}
.btn.dark {
    background: var(--dark-blue-blue);
}
.btn.light{
    background: var(--orange-color);
}
/* doesnt work */
.enrol-icon::before {
    content: url('./images/enrol-icon.svg');
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-40%);  
}
.btn.enrol-icon {
    padding-left: 60px;
}

/* header */
header {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    height: 100vh;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1134px;
    top: 0;
    padding: 36px 0;
    z-index: 100;
    transition: all 500ms ease-in-out;
}
nav.scrolled {
    background: var(--dark-color);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 0 0 8px 8px;
    top: 0;
    padding: 12px;
    z-index: 100;
    
}
nav .logo {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 900;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
    margin: 0;
}
nav ul li a {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold; 
    text-decoration: none;      
}
/* Hero section */

.hero-section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}
.hero-section .left {
    flex: 1;
}
.hero-section .left h1 {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 900;
    line-height: 125%; /* 62.5px */
    margin-bottom: 0;
}
.hero-section .left p {
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%; /* 32px */
    margin-bottom: 30px;
    width: 457px;
}
.hero-section .right {
    align-self: flex-end;
    
}
.hero-section .right img {
    height: 520px;
    vertical-align: middle;
    
}

/* Achievements Cards */
.achievement-card {
    position: absolute;
    z-index: 1;
    min-width: 200px;  
}
.achievement-card .content {
    border-radius: 24px;
    background: #fff;
    padding: 8px 32px;
}
.achievement-card.students-enrolled {
    left: 49%;
    top: 270px;
}
.achievement-card.overall-rating {
    left: 47%;
    top: 470px;
}

.achievement-card h3 {
    color: var(--dark-blue-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 100%;
}
.achievement-card p {
    color: var(--dark-blue-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400; 
    margin-top: -8px;
    margin-bottom: 8px;  
    width: 100%;
    text-align: center;
}
.achievement-card .bg {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    background: linear-gradient(180deg, #6F7DFB 0%, #3B448F 100%); 
    z-index: -100; 
    left: 8px;
    top: 8px;
}

/* Testimonial section */

section {
    margin-top: 100px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 900;
    line-height: 120%; /* 72px */
}
h2.light {
    color: var(--light-color)
}
h2.dark {
    color: var(--dark-blue-blue)
}
section p {
    color: var(--dark-blue-blue);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%; /* 32px */
    margin: 12p 0;
}
.testimonials-section {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-items: center;
}
.testimonials-section .mobile-btn {
    display: none;
}

.testimonials-section .testimonial-card {
    width: 442px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 9px 36px 0px rgba(0, 0, 0, 0.20); 
    margin-bottom: 50px;  
    position: relative;
}
.testimonials-section .testimonial-card::before {
    content: '';
    width: 28px;
    position: absolute;
    height: 40px;
    top: -40px;
    left: 50px;
    background: var(--dark-blue-blue);
    border-radius: 24px 24px 0 0;
}
.testimonials-section .testimonial-card:last-child::before {
    content: '';
    width: 28px;
    position: absolute;
    height: calc(100% + 90px);
    top: -50px;
    left: 30px;
    background: var(--dark-blue-blue);
    border-radius:  0 0 24px 24px;
    z-index: -1;
}

.testimonials-section .testimonial-card .content {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 150%; /* 27px */
    border-radius: 24px;
    background: var(--light-blue-color);
    padding: 24px 32px;
}
.testimonials-section .testimonial-card:last-child .content {
    background: var(--orange-color);
}
.testimonials-section .testimonial-card .info h4 {
    color: var(--dark-blue-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 120%; /* 28.8px */
    margin: 0;
}
.testimonials-section .testimonial-card .info {
    padding: 8px 32px;
    background: #FFF;
    border-radius: 24px;
}
.testimonials-section .testimonial-card .info p.company {
    color: var(--dark-blue-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%; /* 21.6px */ 
}
.testimonials-section .testimonial-card img {
    width: 120px;
    height: 130px;
    position: absolute;
    right: 35px;
    bottom: 20px;
}
.testimonials-section .testimonial-card:last-child {
    transform: translateX(20px);
}

/* Courses sections */

.courses-section {
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 70px 0;
    padding-bottom: 100px;
    
}
.courses-section h2 {
    text-align: center;
}
.courses-section .course-cards {
    display: flex;
    gap: 70px;
}
.courses-section .course-cards img {
    /* width: 100%; */
    filter: drop-shadow(0px 4px 8px 0px rgba(0, 0, 0, 0.25));
    border-radius: 24px;
}
.courses-section .course-card {
    border-radius: 24px;
    background: #FFF;
    padding: 0px 32px;
    margin: 40px 0;
    flex-basis: 1; 
    position: relative;
}
.courses-section .course-card::after {
    position: absolute;
    content: "";
    height: 8px;
    left: 32px;
    right: 32px;
    bottom: 0;
    border-radius: 24px;
    background: var(--dark-blue-blue);    
}
.courses-section .course-card h3 {
    color: var(--dark-blue-blue);
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 150%; /* 45px */
}
.courses-section .course-card .info {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}
.courses-section .course-card .duration {
    color: var(--dark-blue-blue);
    font-family: 'Raleway',sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 150%; /* 24px */   
    white-space: nowrap;
    position: relative;
    padding-left: 20px;
}
.courses-section .course-card .duration::before {
    content: url(./images/clock-icon.svg);
    position: absolute;
    top: 2px;
    left: -6px;
}
.courses-section .wrapper {
    position: relative;
}
.courses-section .wrapper .btn {
    position: absolute;
    right: 0;
}
/* App Section */

.app-section {
    text-align: center;
}
.app-section .app-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.app-section .app-btn {
    padding: 20px 31px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 14px;
}
.app-section .app-btn {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 200%; /* 48px */
}
/* Footer */
footer {
    background: var(--dark-color);
    color: #FFF;
    margin-top: 100px;
    padding: 70px 0;
}
footer a {
    text-decoration: none;
    color: #FFF;
}
footer h3 {
    color: var(--orange-color);
}

footer ul {
    list-style: none;
    padding-left: 20px;
}
footer .wrapper .links-container {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}
footer .social {
    margin-left: 20px;
}
footer .social a {
    margin-right: 28px;
}
footer form {
    margin-left: 20px;
    margin-top: 16px;
    position: relative;
}
footer form input {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%; /* 32px */
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 1px;
    
}
footer form .submit-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--dark-blue-blue);
    border-radius: 8px;
    padding: 4px 28px;
    border: 0;
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 135px;
    height: 32px;
    cursor: pointer;
}
footer .copyright {
    margin-top: 36px;
}

@media (max-width: 1100px) {
    .btn {
        padding: 12px 32px; 
    }
    .wrapper {
        width: 100%;
        padding: 0 100px;
    }
    nav {
        width: 100vw;
        left: 0;
        right: 0;
        padding: 36px 100px;
    }
    nav.scrolled {
        padding: 16px 100px;
    }

    header, 
    .hero-section,
    header .wrapper {
        max-height: 1000px;
    }
    .hero-section {
        flex-direction: column;
        position: relative;
    }
    .hero-section .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero-section .left .btn {
        align-self: flex-start;
    }
    .hero-section .right {
        position: absolute;
        bottom: 0;
    }
    .hero-section .achievement-card {
        position: relative;
        margin-bottom: 80px;
    }
    .achievement-card.students-enrolled,
    .achievement-card.achievement-card.overall-rating {
        left: unset;
        top: unset;
    }
    .hero-section .achievement-cards {
        align-self: flex-start;
        margin: 40px;
    }
}